# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Build files (PyInstaller / auto-py-to-exe)
build/
dist/
*.spec

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db